@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
	
html{

	font-family: 'Lato', sans-serif;

}
body{
	
	background-color: #333333;
}
/*General one time styling of the Google Map */

.map-container-big{

	position: absolute;

	top:10%;

	height:90%;

	left:0%;

	width:83.4%;
}

.map-container-small{

	position: absolute;

	top:10%;

	aheight:79.9%;

	left:0%;

	width:52.0875%;

}

#map{

	/* Filling the entire container with Google Map */

	width:100%;

	height:100%;

	position: absolute;

	left: 0;

	top: 0;

}

.menuBar {


	background-image:url("binding_dark.png");

	Abackground: #333333;
	position: fixed;
	z-index:1000;

}

.menuBar h3 {
	color: #f8704c;
	font-size: 1.9em;
	padding: 20px;
	margin: 0;
	font-weight: 300;
	background: #333333;
	opacity: 0.8;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;

}

.menuBar a {

	text-decoration: none;
	display: block;
	color: #fff;
	font-size: 1.1em;
	font-weight: 300;
	opacity: 0.8;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;

}

.menuBar a:hover {
	background: #eb3809;
}

.menuBar a:active {
	background: #f86d48;
	color: #ffff00;
}

.menuBar-select{

	background: #f86d48;
}

.menuBar-vertical {
	width: 16.6%;
	height: 100%;
	top: 0;
	z-index: 1000;
	font-size: 1.2vw;
	Aborder-left:1px solid #fa8d70;

}
.menuBar-horizontal {
	width: 84%;
	height: 10%;
	left: 0;
	z-index: 800;
	overflow: hidden;
	font-size: 2.2vh;
	

}

.menuBar-horizontal h3 {
	height: 100%;
	float: right;
	padding-top: 2vh;
	border-left: 1px solid #fa8d70;
}
.menuBar-horizontal h3:hover {

	background: #eb3809;
	color:white;

}


.menuBar-horizontal a {
	float: left;
	width: 21.4%;
	padding: 1.75% ;
	Aborder-top: 1px solid #fa8d70;
	font-size: 160%;
	text-align: center;
}
.menuBar-vertical a {
	Aborder: 1px solid #fa8d70;
	Aborder-bottom: 1px solid #fa8d70;
	background-color:#474747;
	padding: 2em;

}
.menuBar-right {
	right: 0%;
	overflow-y:scroll;
}
.menuBar-top {

	top: 0px;
}

.menuBar-bottom {
	bottom: -10%;
	z-index:100;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;

}
.menuBar-bottom-visible{
	bottom: 0%;
	z-index:100;



	-webkit-transition-delay: 1.5s; /* Safari */
    transition-delay: 1.5s;

	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	transition: all 0.6s ease;

}


.logo-menu{

	display: block;
    margin-left: auto;
    margin-right: auto;
	width: inherit;  /* This makes the next two lines work in IE8. */
	max-width: 50%; /* Add !important if needed. */
	height: auto;    /* Add !important if needed. */
	padding-top: 1%;
	text-align: center;
	font-weight: 300;
}

.report{


	position: absolute;

	top:9.8%;

	left:52.0875%;

	height:83%;

	width:31.7325%;

	background-color: #505759;

	z-index: 1;

	-webkit-transition: all 1.5s ease;
	-moz-transition: all 1.5s ease;
	transition: all 1.5s ease;

	text-align: center;

	opacity: 0.8;

	color: white;

}
.report-hidden{

	text-align: center;

	position: absolute;

	top:10.05%;

	left:84%;

	height:80%;

	width:15.84%;

	background-color: #505759;

	z-index: 1;

	color:white;

	-webkit-transition: all 0.75s ease;
	-moz-transition: all 0.75s ease;
	transition: all 0.75s ease;


}


.report .report-hidden h1, h2, h3{


	font-weight: 300;


}

.report h1 {

	font-size: 250%;

	border-bottom: 1px solid rgba(255, 255, 255, .3);

}
.report-hidden h1{

	font-size: 250%;

	border-bottom: 1px solid rgba(255, 255, 255, .3);

}

.blurred{


	opacity: 0.1;

	z-index: -100;

	-webkit-transition: all 1.5s ease;
	-moz-transition: all 1.5s ease;
	transition: all 1.5s ease;

}

.locationChangerVisible{

	font-weight: 300;

	z-index:100;

	text-align: left;

	padding-left: 5em;
	
	vertical-align: middle;

	-webkit-transition-delay: 1.5s; /* Safari */
    transition-delay: 1.5s;

	-webkit-transition: all 1.5s ease;
	-moz-transition: all 1.5s ease;
	transition: all 1.5s ease;


}

.locationChangerVisible a {

	display:block;

	text-decoration: none;

	font-size: 5vmin;

	color:white;

	cursor: pointer;

	opacity: 0.8;

	padding:0.5em;

}



.locationChangerVisible a:hover{


	opacity: 0.4;


}


.locationChangerInvisible{

	font-weight: 300;

	z-index:-100;

}

.closeButton{


	position: absolute;

	top: 0;

	right: 0;

	width:2.5%;

	height: 2.5%;

	color: #fa8d70;

	font-size:300%;

	cursor: pointer;

}