	<!DOCTYPE = HTML>
	<html>

		<head>

			<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='default.css') }}" />

			<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js"></script>

			<script src = "{{ url_for('static', filename='default.js') }}"></script>

			<script src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyBP9GpA13uynELdRfKAX7a9PWthWrvHhN4">

    		</script>

    		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

			<title>

				Flare

			</title>

		</head>


		<body>

				<div ng-app="menu" id = "menu" ng-controller="reportController" ng-model="data.name">

					<div id = "map-container" ng-class = "myMapClass">

						<div id="map" create-map>

						</div>

					</div>

					<div ng-class = "reportClass" >

						
						<img ng-src = "uploads/{[{data.image}]}" err-src = "static/empty.png"> </img>


					</div>

					<nav class = "menuBar menuBar-vertical menuBar-right" ng-controller="newReportController" >
						<h3>

							<img src = "{{ url_for('static', filename='loader.png') }}" class = "logo-menu">

							</img>

							<label class = "logo-menu">Flare</label>			

						</h3>

					<a href = "javascript:" ng-repeat = "report in reports" ng-click = "openReport(report)" ng-model="data.name">

					{[{ 


						report.time_formatted


					}]}

					</a>


					</nav>

					<nav class = "menuBar menuBar-horizontal menuBar-top">
						
						<h3 href="#" update>{[{data.number_of_reports}]}</h3>

						<h3 href="#" ng-click="changeUserLocation()" style="cursor:pointer;">{[{ location_data_text }]}</h3>
					</nav>

					<nav class = "menuBar menuBar-horizontal" ng-class = "myFooterClass">

						<a href="#">settings</a>
						<a href="#">block user</a>
						<a href="#">thank user</a>
						<a href="#">dispatch authority</a>

					</nav>
	 
	   			</div>

		</body>



	</html>