	<!DOCTYPE = HTML>
	<html>

		<head>

			<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='default.css') }}" />

			<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js"></script>

			<script src = "{{ url_for('static', filename='default.js') }}"></script>

			<script src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyBP9GpA13uynELdRfKAX7a9PWthWrvHhN4"> </script>

			<script src="https://cdn.firebase.com/js/client/1.1.2/firebase.js"></script>

			<script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha1.js"></script>

    		<script src = "{{ url_for('static', filename='firebase.js') }}"></script>


    		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

			<title>

				Flare

			</title>

		</head>

		<body onClick = "getData()" >

				<div ng-app="menu" id = "menu" ng-controller="reportController" ng-model="data.name">

					<div id = "map-container" ng-class = "myMapClass">

						<div id="map" create-map>

						</div>

						<div class = "map-container-big" ng-class = "LocationView">

							<div class = "closeButton" ng-click = "closeLocationViewer()">

								X

							</div> 

						</div>

					</div>

					<div ng-class = "reportClass" >

						<h1> {[{ data.type }]} report </h1>

						<h2> {[{ data.time_formatted }]}</h2>

						<h2> {[{ data.description }]} </h2>

						<h3> {[{ data.latitude}]}    {[{ data.longitude}]} </h3>

						<h3> {[{ locationAdder }]} </h3>

					</div>

					<nav class = "menuBar menuBar-vertical menuBar-right" ng-controller="newReportController" >
						<h3>

							<img ng-src = "{[{logo}]}" class = "logo-menu" ajax ng-click = "createRequest()" style="cursor:pointer;">

							</img>

							<label class = "logo-menu">Flare</label>			

						</h3>

					<a href = "javascript:" ng-repeat = "report in reports" ng-click = "openReport(report)" ng-model="data.name">

					{[{ report.time_formatted }]}

					</a>

					</nav>

					<nav class = "menuBar menuBar-horizontal menuBar-top" >

						<a ng-click="changeUserLocation()" style="cursor:pointer;"> change location </a>

						<a ng-click > {[{ data.number_of_reports }]} reports </a>

						<h3 href="#" ng-click="changeUserLocation()" style="cursor:pointer;">{[{ location_data_text }]}</h3>

					</nav>

					<nav class = "menuBar menuBar-horizontal" ng-class = "myFooterClass">

						<a href="#" ng-click = "deleteReport()">delete</a>
						<a href="#" ng-click = "currentlyDisabled()">block user</a>
						<a href="#" ng-click = "alertPeople()">alert people</a>
						<a href="#" ng-click = "currentlyDisabled()">alert authority</a>

					</nav>
	 
	   			</div>

		</body>



	</html>